@import 'tailwindcss';
@import 'atropos/css';

body {
  overflow-y: scroll;
  color: white;
  background: black;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #000, #141414);
}
